<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteRule ^([a-z]{2,2})/ index.php?lang=$1
 RewriteCond https://alexandreh.promo-90.codeur.online/Ad-Gloriam/ !\.(?:css|js|jpe?g|gif|png)$ [NC]
</IfModule>